		body {
		background-color: #dddddd;	
		text-align: center;	
		}
		#board-container {
        background-image: url("snow-planet.jpg");
		} 
		.row {
			/*display: flex;*/
			/*justify-content: space-evenly;*/
		} 
		.cell {
			width: 100px;
			height: 100px;
			display: inline-block;
			margin: 0px;
		}
		
		
		.black {
			background-image: url("thanos.jpg");
		}
		
		.crimson {
			/*background-color: darkred;*/
			background-image: url("cap.jpg");
		}
		
		.checker{
		    margin: auto; right; bottom; left;
			border-radius: 50px; 
				
		}
		
		.grey-checker {
			background-image: url("go-stone-gold.png");
			background-size: cover;
			height: 80px;
			width: 80px;
			
		}
		
		.red-checker {
			/*background-color: crimson;*/
			background-image: url("go-stone-white..png");
			background-size: cover;
			height: 80px;
			width: 80px;
			
		}   










































