		body {
		background-color: #dddddd;	
		text-align: center;	
		}
		#board-container {
		background-image: url("space.jpg");
		display: inline-block;
		padding: 2%;
		} 
		.row {
			/*display: flex;*/
			/*justify-content: space-evenly;*/
		} 
		.cell {
			width: 8vw;
			height: 8vw;
			display: inline-block;
			margin: 0px;
			max-width: 11vh;
			max-height: 11vh;
			
		}
		
		
		.black {
			background-image: url("gauntlet.jpg");
			background-size: contain;
		}
		
		.white { 
			/*background-color: darkred;*/
			background-image: url("stormbreaker.jpg");
			background-size: contain;
		}
		
		.checker{
			margin: 10%;
			border-radius: 50%;
			height: 80%;
			width: 80%; 
				
		}
		
		.grey-checker {
			background-image: url("thanos.jpg");
			background-size: cover;
			
			
			
		}
		
		.red-checker {
			/*background-color: crimson;*/
			background-image: url("cap.jpg");
			background-size: cover;
			
			
			
		}   










































